body{
    background-color: #8C7299;
}
.tophead{
    text-align: center;
}
h1{
    color: pink;
}
p{
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 140%;
    text-transform: uppercase;
}
img{
   display: block;  
   float:right; 
}